{% extends 'base.html' %}

{% block content %}
<section class="contact">
    <h2><i class="fas fa-address-book"></i> Contact Me</h2>
    <div class="contact-info">
        <div class="contact-item">
            <i class="fas fa-user"></i>
            <p><strong>Name:</strong> Rajendrakumar G</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <p><strong>Email:</strong> <a href="mailto:mrbagenciescbe@gmail.com">mrbagenciescbe@gmail.com</a></p>
        </div>
        <div class="contact-item">
            <i class="fas fa-phone-alt"></i>
            <p><strong>Phone:</strong> <a href="tel:+919790657524">+91 97906 57524</a></p>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <p><strong>Location:</strong> 
                <a href="https://www.google.com/maps/place/M.R.B.+Agencies/@10.9535379,76.9700392,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba85a312bfa6527:0xd08f31eca2b67644!8m2!3d10.9535379!4d76.9726141!16s%2Fg%2F1q69ms7gr?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    M.R.B. Agencies
                </a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
